<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Volg nou</h1>
            <a href="https://twitter.com/chinoeeee">Twitter</a>
            <a href="https://www.twitch.tv/chin0e">Twitch</a>
            <a href="https://www.youtube.com/channel/UCl7uJ3-sTMLQl-PRDiNVf0g">Youtube</a>

  
            
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>CLICK ON THE PICTURES BELOW TO LET THE MONEY GLITCH WORK *100% LEGIT*!</h3>
            <a href="https://twitter.com/chinoeeee"><img src="https://www.saydaily.com/.image/t_share/MTM0ODg3OTkwOTMyNTc1NTA2/screen-shot-2015-12-03-at-22820-pmpng.png" alt="no image found" width="150" height="150"></a>

        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>